*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Arial,sans-serif;
}

body{

    background:#111;

    color:white;

    height:100vh;

    display:flex;

    flex-direction:column;

}

.panel{

    height:42px;

    background:#1b1b1b;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 18px;

    border-bottom:1px solid #2b2b2b;

}

.panel-right{

    display:flex;

    gap:18px;

}

.desktop{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.desktop h1{

    font-size:42px;

}

.desktop p{

    margin-top:10px;

    color:#888;

}

.dock{

    height:75px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    background:#1b1b1b;

    border-top:1px solid #2b2b2b;

}

.dock button{

    padding:12px 18px;

    border:none;

    border-radius:12px;

    background:#2d2d2d;

    color:white;

    cursor:pointer;

    transition:.2s;

}

.dock button:hover{

    background:#3B82F6;

}
